---
import Layout from "../../layouts/Layout.astro";
import BlogPost from "../../components/BlogPost.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.published_at.valueOf() - a.data.published_at.valueOf()
);
---

<Layout title="Dane's site / Blog">
  <h1 class="mt-4 mb-4 text-2xl font-bold text-snes-black">Blog</h1>
  <ul class="space-y-4">
    {
      posts.map((post) => (
        <BlogPost
          title={post.data.title}
          slug={post.slug}
          published_at={post.data.published_at}
        />
      ))
    }
  </ul>
</Layout>
