@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  :root {
    --smokey: #222222;
    --almond: #EAE6E5;
  }

  .link-focus {
    @apply focus-visible:outline-dashed focus-visible:outline-offset-4 focus-visible:outline-4 focus-visible:outline-indigo-700;
  }

  html, body {
    @apply h-full;
  }

  .artist-separator:not(:first-of-type)::before {
    content: " \00B7  "
  }
}

