@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --snes-black: #211a21;
    --snes-light-gray: #cec9cc;
    --snes-dark-gray: #908a99;
    --snes-purple: #4f43ae;
    --snes-light-purple: #b5b6e4;
  }
}

