@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-offwhite: #faf9f6;
    --color-kinda-black: #211a21;
    --color-grayish: #908a99;
  }

  *::selection {
    @apply bg-yellow-600 text-offwhite;
  }

  html,
  body {
    height: 100%;
  }

  html {
    @apply max-w-4xl mx-auto bg-offwhite dark:bg-kinda-black;
  }

  #__next {
    font-family: "Inter", sans-serif;
  }
}
